body {
	margin: 0px;
}

header {
	font-family: cursive;
	background-image: url("hb.jpg");
	padding: 10px;
	height: 200px;
}

header .image {
	float: right;
	width: 150px;
}

#middle {
	margin: 20px 250px 0px 250px;
	background-color: linen;
}

#nav {
	margin-top: 20px;
	float: left;
	background-color: #BCBCA7;
	position: absolute;
	height: 500px;
	width: 200px;
}

form {
	float: right;
	padding: 40px;
}