body {
	margin: 0px;
}

header {
	font-family: cursive;
	background-image: url("hb.jpg");
	padding: 10px;
	height: 200px;
}

header .image {
	float: right;
	width: 150px;
}

#middle {
	padding-left: 20px;
	padding-top: 10px;
	margin: 20px 250px 0px 250px;
	background-color: linen;
}

#nav {
	margin-top: 20px;
	float: left;
	background-color: #BCBCA7;
	position: absolute;
	height: 500px;
	width: 200px;
}

#mulTable {
	padding-left: 15px;
	height: 350px;
	width: 750px;
}

#box {
	padding-left: 10px;
	border: solid 1px black;
	width: 800px;
	height: 1300px;
}