body{
	background-color:Linen; 
}
header{
	background-image: url("header.jpg");
	margin-left: 0;
	min-height: 100px;
	margin-right: 0px;
	margin-top: 25px;
}
.sec {
	background-color: #FF3399;
	margin-left: auto;
	margin-top: 50px;
	min-height: 40px;
}
p {
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	margin-left: 160px;
	margin-left: 200px;

} 
h1 {
	font-size: 50px;
	display: inline-block;
	color: black;
}
#middle{
	height: 500px;
	margin-right: 0px;
	margin-top: 60px;
}

#middle .image{
	margin-left: 200px;

}
footer {
	background-color: #66CCFF;
	min-height: 160px;
	text-align: center;
}
ul.social-icon {
	margin: 0px 0px 10px 14px;
	padding: 0;
	width: auto; 
}
ul.social-icon li.facebook{
	background-position: 0px -121px;
	margin-right: 0px;
}
ul.social-icon li {
	background-image: social.png;
}