body{
	background-color:Linen; 
}
header{
	background-color: silver;
	margin-left: auto;
	min-height: 100px;
	margin-right: 0px;
	margin-top: 25px;
}
.sec {
	background-color: #FF3399;
	margin-left: auto;
	margin-top: 50px;
	min-height: 40px;
}
p {
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	margin-left: 160px;
	margin-left: 200px;

} 
h1 {
	font-size: 30px;
	display: inline;
	color: black;
}
#middle{
	height: 500px;
	margin-right: 0px;
	margin-top: 60px;
}

#middle .image{
	margin-left: 200px;

}
footer {
	background-color: #66CCFF;
	/*margin-bottom: 0px;*/
	min-height: 160px;
	text-align: center;
}