h1.topic {
    background-image: url("hb.jpg");
    width: 1400px;
    padding: 10px;
    font-family: cursive;
    color: brown;
}

body {
    margin: 0px;
}

p {
	padding-left: 15px;
	font-family: fantasy;
}


.leftRow {
	padding: 20;
	margin-top: 38px;
	width: 150px;
	height: 500px;
	float: left;
	background-image:url("hb.jpg");
}

#middleRow {
    background-image: url("bg.jpg");
    position: absolute;
    left: 200px;
    top: 130px;
    display:flex;
    overflow:scroll;
    border: solid 1px black;
    width: 900px;
    height: 300px;
    margin-left: 30px;
    padding: 30px 60px 30px 60px;
    float: left;
}

#middleRow .image {
	margin: 0px 40px 8px 5px;
}

img:hover {
	opacity:0.5;
	width:220px;
	height:270px;
}
