h1.topic {
    margin: 0px;
    background-image: url("hb.jpg");
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: cursive;
    color: brown;
}

#image {
    float: right;
    padding-right: 10px;
}


body {
    margin: 0px;
}

p {
	padding-left: 15px;
	font-family: cursive;
}


.leftRow {
	padding: 20;
	margin-top: 60px;
    margin-right: 0px;
	width: 150px;
	height: 560px;
	float: left;
	background-image:url("hb.jpg");
}

#middleRow {
    background-image: url("bg.jpg");
    position: absolute;
    left: 200px;
    top: 130px;
    margin-top: 1px;
    border: solid 1px black;
    width: 1100px;
    height: 600px;
    margin-left: 100px;
    float: left;
}

#middleRow .image {
	margin: 20px 40px 20px 30px;
}

img:hover {
	opacity:0.8;
}
.logo {
    text-align: right;
    margin-top: 720px;
    margin-right: 20px;
}
li{
    font-size: 20px;
    padding: 10px;
    font-family: cursive;;
}


